<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>[i] Buildlight</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body<%= " data-failing" if @colors[:red] %><%= " data-building" if @colors[:yellow] %><%= " data-passing" if @colors[:green] %>>
    <%= yield %>
  </body>
</html>
